.a-img {
    position: relative;
    min-height: 100%;
    height: 100%;
}

.a-img__img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 100%;
}

.a-img__img--rounded {
    border-radius: var(--border-radius--regular);
}

.a-img__video-icon {
    position: absolute;
    top: 38%;
    right: 32%;
    text-align: center;
    cursor: pointer;
}

.a-img__video{
    height: 100%;
    width: 100%;
    position: relative;
    
    & .wp-video{
        max-width: inherit !important;
        width: 100% !important;
        height: 100%;
    }

    .m-card-project__img--video {
        height: 100%;
    }
}

.a-img__video-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    transition: 0.35s;
    border: solid var(--main-color);
    border-radius: 5rem;
}

.a-img__video-play--active{
    opacity: 0;
}

.a-img__video-play svg {
    max-width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 1rem;
    top: 1rem;
}
