.main-proyect--content {
  display: grid;
  grid-template-columns: 76% 22%;
  gap: 2rem;
  max-width: 85%;
  margin: auto;
  padding: 10rem 0px;
}

.main-proyect--gray{
  background-color: #F5F5F5;
  display: grid;
  grid-template-columns: 76% 22%;
  padding-bottom: 3rem;
}

.main-proyect--gray__container{
  max-width: 80%;
  margin: auto;
  padding-top: 5rem;
}

.projects-banner--imagen--video video{
  width: 100%;
  height: 100%;
  max-height: 450px;
}

.projects-banner {
  border-radius: var(--border-radius--regular);
  overflow: hidden;
}

.project-nav {
  margin: 2rem 0rem;
}

.project-nav__content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.content-section{
  background: white;
  border-radius: var(--border-radius--regular);
  padding-bottom: 5rem;
}

.about-project {
  max-width: 90%;
  margin: auto;
  padding: 4rem 0px;
}

.main-proyects .a-titles-title {
  border-bottom: var(--quinary-color) solid 2px;
  display: inline-block;
  color: var(--main-color);
  margin-bottom: 2rem;
}

.about-project__description {
  font-size: 1.6rem;
  padding-bottom: 3rem;
  border-bottom: solid 0.1rem gainsboro;
}

.about-project__spaces {
  margin-top: 4rem;
}

.about-project__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.como-llegar {
  max-width: 95%;
  margin: auto;
}

.title-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.how-arrive__content {
  display: grid;
  grid-template-columns: 55% 43%;
  gap: 5%;

  .a-list.a-list--primary{
    position: relative;
  }

  .a-list.a-list--primary::before{
    content: '';
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background: var(--main-color);
    border-radius: 50%;
    left: -1.5rem;
  }
}

.how-arrive__map {
  overflow: hidden;
}

.main-proyects .a-titles.title--secondary>* {
  border: none;
  font-size: 2rem;
}

.video-proyecto {
  max-width: 95%;
  margin: auto;
}

.video-proyecto__video--video video {
  width: 100%;
  border-radius: var(--border-radius--regular);
  margin: 10rem 0rem;
}

.apartamento-modelo {
  max-width: 95%;
  margin: auto;
  position: relative;
}

.main-proyects .o-model-appartment {
  max-width: 85%;
  margin: auto;
  padding: 0rem 1rem;
}

.main-proyects .m-card-model .a-img {
  height: 25rem;
}

.main-proyects .m-card-model .a-img__img {
  object-fit: cover;
  object-position: top;
}

.a-btn-info.float-form:nth-child(1){
  display: none;
}

.a-btn-top{
  left: 2rem;
  right: inherit !important;
  display: none !important;
}

.new-realities__content{
  margin-top: 5rem;
}

@media(max-width: 780px){

  .o-header{
    background-color: transparent;
    position: fixed;
    top: 0px;
  }

  .o-header__mobile-line{
    background-color: var(--main-color);
  }

  .o-header:has(.has-show) {
    background-color: var(--main-color);
  }

  .has-show .o-header__mobile-line{
    background-color: white;
  }

  .o-header--js-active{
    background-color: var(--main-color);
  }

  .main-proyect--content{
    grid-template-columns: 100%;
  }

  .projects-banner{
    border-radius: 0px;
  }

  .project-nav__content{
    flex-wrap: wrap;
    display: none;
  }

  .proyect-aside{
    display: none;
  }
  
  .main-proyect--content{
    padding: 0rem 0px;
    max-width: 100%;
  }

  .main-proyect--gray{
    display: block;
  }

  .about-project__list{
    grid-template-columns: 1fr;
  }

  .main-proyect--gray__container{
    max-width: 91%;
  }

  .how-arrive__content{
    display: block;
  }

  .how-arrive__list{
    position: relative;
    left: 25px;
  }

  .video-proyecto__video--video video{
    margin: 1rem 0rem;
  }

  .main-proyects .o-model-appartment{
    max-width: 100%;
  }

  /* info */
  .cotiza-you-apartment {
    display: none;
  }

  .title-content {
    flex-direction: column;
    align-items: inherit;
    gap: 0;
  }

  .title-content .a-btn-places {
    justify-content: flex-start;
  }
}