/* project */
.projects {
    margin: 6rem 0px;
    position: relative;
}

.content-project {
    max-width: 73%;
    margin: auto;
    margin-top: 4.5rem;
    position: relative;
}

.swiper-project{
    overflow: hidden;
    padding: 1rem 2rem;
}

.swiper-button-next--project {
    right: 12rem;
}

.swiper-button-prev--project {
    transform: rotate(180deg);
    left: 11rem;
}

.card-experiencie .a-titles-title {
    text-align: center;
    color: var(--main-color);
}

.model-appartment {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.card-experiencie {
    position: relative;
    padding: 4rem;
    padding-bottom: 1rem;
    box-shadow: var(--shadow-boxes);
    max-width: 75%;
    border-radius: var(--border-radius--regular);
    margin: 6rem auto 12rem auto;
}

  

@media(max-width: 768px){
    .content-project{
        max-width: 92%;
    }
    
    .card-experiencie{
        margin-top: 4rem;
        max-width: 94%;
        padding: 1rem;
    }
    

}
