.m-main-nav .a-logo{
  text-align: center;
}

.m-main-nav .a-logo .custom-logo{
  width: 12.8rem;
}

.m-main-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.m-main-nav__container {
  margin-top: 3rem;
}

.m-main-nav li a {
  color: white;
  font-size: 2rem;
  list-style: none;
  text-decoration: none;
  transition: 0.35s;
}

.m-main-nav li a:hover {
  color: var(--secondary-color);
  transition: 0.35s;
}

.current-menu-item a {
  color: var(--secondary-color) !important;
}

.m-main-nav__social {
  margin-top: 5rem;
}

.m-main-nav__social .m-socials{
  justify-content: left;
}

.m-main-nav__content .m-hamburger__mobile-line{
  background-color: white;
}
