:root{
  --step-height: 500px;
}


.cotiza-you-apartment {
  background-color: #ffedbf;
  padding: 2rem 0rem;
}

.o-dinamic-quote {
  max-width: 85%;
  margin: auto;
}

.o-dinamic-quote__steps {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.o-dinamic-quote__steps-element{
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
  color: var(--main-color);
  align-items: center;
  gap: 1rem;
}

.o-dinamic-quote__steps-num {
  background: var(--main-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  font-weight: bold;
}

.o-dinamic-quote__map {
  width: 100%;
  position: relative;
  border-radius: 50px;
}

.o-dinamic-quote__map-img {
  width: 100%;
}

.o-dinamic-quote__map-tower {
  background: #ffffff9a;
  color: var(--main-color);
  font-size: 1.4rem;
  border-radius: 25px;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  text-transform: uppercase;
  width: 14rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.o-dinamic-quote__svg {
  width: 100%;
  position: absolute;
  top: 0;
}

.o-dinamic-quote__svg-img {
  width: 100%;
  height: 100%;
}


.o-dinamic-quote__tower{
  cursor: pointer;
  transition: 0.35s;
}

.o-dinamic-quote__tower:hover{
  fill-opacity: 0.8;
  transition: 0.35s;
}

.o-dinamic-quote__tower--01, 
.o-dinamic-quote__tower--02, 
.o-dinamic-quote__tower--05{
  cursor:not-allowed;
}

.o-dinamic-quote__build-info {
  position: absolute;
  bottom: 8rem;
  left: 0px;
  right: 0px;
  text-align: center;
}

.o-dinamic-quote__info {
  background: #FFFFFFB2;
  max-width: 50%;
  margin: auto;
  padding: 2rem 1rem;
  border-radius: 2rem;
}

.o-dinamic-quote__info-title {
  font-size: 1.8rem;
  color: var(--main-color);
  text-transform: uppercase;
}

.o-dinamic-quote__info-description {
  color: var(--main-color);
  font-size: 1.4rem;
}


/* STEP TWO */
.o-dinamic-quote__floor-content {
  width: 100%;
  height: 31.9rem;
  background-image: url(./img/render-background.jpeg);
  background-size: cover;
  border-radius: 2.5rem;
  position: relative;
}

.o-dinamic-quote__floor-options {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  color: var(--main-color);
}

.o-dinamic-quote__floor-contain{
  background: #FFFFFFB2;
  max-width: 50%;
  min-width: 3.75rem;
}

.o-dinamic-quote__floor-contain {
  background: #FFFFFFB2;
  max-width: 30%;
  min-width: 37.5rem;
  text-align: center;
  padding: 1rem;
  border-radius: 1.5rem;
  margin: auto;
}

.o-dinamic-quote__floor-title {
  font-size: 1.8rem;
}

.o-dinamic-quote__floor-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80%;
  margin: auto;
  list-style: none;
  gap: 0.2rem;
}

.o-dinamic-quote__floor-el {
  background: #EBEBEB;
  border: white 0.1rem solid;
  border-radius: 2.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.35s;
}

.o-dinamic-quote__floor-el:hover{
  background-color: #ECD925;
  transition: 0.35s;
}

.o-dinamic-quote-floor{
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
}

.o-dinamic-quote-floor svg{
  width: 100%;
}

.o-dinamic-floor-st {
  fill: transparent;
  cursor: pointer;
  transition: 0.35s;
}

.o-dinamic-quote__distribution{
  height: var(--step-height);
  background-color: white;
  border-radius: 25px;
}

.o-dinamic-quote__distribution-slide {
  height: 100%;
}

/* step three */
.o-dinamic-quote__slide-container {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  max-width: 90%;
  justify-content: center;
  margin: auto;
  height: 100%;
}

.o-dinamic-quote__img {
  width: 100%;
}