:root{
  --step-height: 560px;
}

@media(max-width: 780px){
  :root{
    --step-height: auto;
  }
}


.cotiza-you-apartment {
  background-color: rgba(255, 195, 43, 0.3);
  padding: 2rem 0rem;
}

.o-dinamic-quote {
  max-width: 85%;
  margin: auto;
}

.o-dinamic-quote__steps {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.o-dinamic-quote__steps-element{
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
  color: var(--main-color);
  align-items: center;
  gap: 1rem;
  opacity: 0.5;
  position: relative;
  cursor: pointer;
}

.o-dinamic-quote__steps-element--active{
  opacity: 1;
}

.o-dinamic-quote__steps-num {
  background: var(--main-color);
  color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 25px;
  font-weight: bold;
}

.o-dinamic-quote__map {
  width: 100%;
  position: relative;
  border-radius: 50px;
  height: var(--step-height);
}

.o-dinamic-quote__map-img {
  width: 100%;
}

.o-dinamic-quote__map-tower {
  background: #ffffff9a;
  color: var(--main-color);
  font-size: 1.4rem;
  border-radius: 25px;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  text-transform: uppercase;
  width: 14rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.o-dinamic-quote__svg {
  width: 100%;
  position: absolute;
  top: 0;
}

.o-dinamic-quote__svg-img {
  width: 100%;
  height: 100%;
}


.o-dinamic-quote__tower{
  cursor: pointer;
  transition: 0.35s;
}

.o-dinamic-quote__tower:hover{
  fill-opacity: 0.8;
  transition: 0.35s;
}

.o-dinamic-quote__tower--01, 
.o-dinamic-quote__tower--02, 
.o-dinamic-quote__tower--05{
  cursor:not-allowed;
}

.o-dinamic-quote__build-info {
  position: absolute;
  bottom: 8rem;
  left: 0px;
  right: 0px;
  text-align: center;
}

.o-dinamic-quote__info {
  background: #FFFFFFB2;
  max-width: 50%;
  margin: auto;
  padding: 2rem 1rem;
  border-radius: 2rem;
}

.o-dinamic-quote__info-subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--main-color);
}

.o-dinamic-quote__info-title {
  font-size: 3rem;
  color: var(--main-color);
  text-transform: uppercase;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.o-dinamic-quote__info-description {
  color: var(--main-color);
  font-size: 1.4rem;
}

/**navigation */
.o-dinamic-quote__sections {
  display: flex;
}

.o-dinamic-quote__sections>div{
  width: 0%;
  transition: 0.35s;
  height: 0px;
  overflow: hidden;
}

.o-dinamic-quote__sections .o-dinamic-quote__section--active{
  width: 100%;
  transition: 0.35s;
  height: auto;
  justify-content: space-evenly;
}

/* STEP TWO */
.o-dinamic-quote__floor-content {
  width: 100%;
  height: 31.9rem;
  background-image: url(./img/render-background.jpeg);
  background-size: cover;
  border-radius: 2.5rem;
  position: relative;
  height: var(--step-height);
}

.o-dinamic-quote__floor-options {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  color: var(--main-color);
}

.o-dinamic-quote__floor-contain{
  background: #FFFFFFB2;
  max-width: 50%;
  min-width: 3.75rem;
}

.o-dinamic-quote__floor-contain {
  background: #FFFFFFB2;
  max-width: 30%;
  min-width: 37.5rem;
  text-align: center;
  padding: 1rem;
  border-radius: 1.5rem;
  margin: auto;
}

.o-dinamic-quote__floor-title {
  font-size: 1.8rem;
}

.o-dinamic-quote__list-container {
  list-style: none;
  font-size: 1.5rem;
  color: var(--main-color);
}

.o-dinamic-quote__list {
  border-left: solid 0.2rem;
  padding-left: 1rem;
  margin-top: 1rem;
}

.o-dinamic-quote__floor-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80%;
  margin: auto;
  list-style: none;
  gap: 0.2rem;
}

.o-dinamic-quote__floor-el {
  background: #EBEBEB;
  border: white 0.1rem solid;
  border-radius: 2.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.35s;
}

.o-dinamic-quote__floor-el:hover{
  background-color: #ECD925;
  transition: 0.35s;
}

.o-dinamic-quote__area-content{
  height: var(--step-height);
}

.o-dinamic-quote-floor{
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
}

.o-dinamic-quote-floor svg{
  width: 100%;
  height: 100%;
  display: flex;
}

.o-dinamic-floor-st {
  fill: transparent;
  cursor: pointer;
  transition: 0.35s;
}

.o-dinamic-quote__distribution{
  height: var(--step-height);
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
}

.o-dinamic-quote__distribution-slide {
  height: 100%;
}

/* step three */
.o-dinamic-quote__slide-container {
  display: grid;
  grid-template-columns: 69% 29%;
  gap: 2%;
  align-items: center;
  max-width: 85%;
  justify-content: center;
  margin: auto;
  height: 100%;
}

.o-dinamic-quote__img {
  width: 100%;
}

.o-dinamic__btn-submit {
  background: var(--secondary-color);
  width: fit-content;
  padding: 1rem;
  border-radius: 2rem;
  color: var(--main-color);
  text-align: center;
  font-size: 1.4rem;
}

.o-dinamic-quote__btn {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: -10rem;
  z-index: 2;
  cursor: pointer;
}

.o-dinamic-quote__distribution-slider{
  position: relative;
}

.swiper-button-prev--distribution-ap.a-arrows-slide {
  top: -250px;
  transform: rotate(180deg);
  left: 14px;
}


.swiper-button-next--distribution-ap.a-arrows-slide {
  top: -250px;
  right: 14px;
}

/** Step four */
.o-dinamic-quote__cardspay{
  height: var(--step-height);
}

.o-dinamic-quote__sub-title {
  margin-bottom: 40px;
}

.o-dinamic-quote__cardpay-title {
  text-align: center;
}

.o-dinamic-quote__cardspay {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.o-dinamic-quote__sub-title-text {
  font-size: 1.8rem;
  color: var(--main-color);
}

.o-dinami-quote__sub-title-info {
  text-align: center;
  color: var(--main-color);
}

.o-dinamic-quote__cardspay-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.o-dimamic-quote__card-nums {
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 12px;
}

.o-dialog-form-card--first {
  background: rgba(255, 195, 43, 0.3);
  border: solid 1px rgba(255, 195, 43);
}

.o-dialog-form-card--second {
  background-color: rgba(20, 56, 127, 0.3);
  border: solid 1px rgba(20, 56, 127);
  padding: 40px 22px;
}

.o-dialog-form-card--third {
  background: rgba(37, 211, 102, 0.3);
  border: solid 1px rgba(37, 211, 10);
}

.o-dinamic-quote__card-num__number {
  background: var(--main-color);
  width: fit-content;
  color: white;
  padding: 6px 10px;
  font-size: 17px;
  border-radius: 55px;
  font-weight: bold;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40px;
}

.o-dinamic-quote__card-num {
  display: grid;
  grid-template-columns: 23% 69%;
  gap: 0% 3%;
}

.o-dinamic-quote_card-num__title {
  text-align: left;
  color: var(--main-color);
  font-size: 12px;
  font-weight: 400;
}

.o-dinamic-quote_card-num__title-sub {
  font-size: 15px;
  color: var(--main-color);
  text-align: left;
  font-family: 'Poppins';
}

.o-dinamic-quote__card-body {
  font-size: 12px;
}

.o-dinamic-quote__cardpay-btn {
  max-width: 99%;
  margin: 0px auto;
}

.o-dinamic-quote__cardpay-submit {
  width: fit-content;
  background: var(--secondary-color);
  padding: 12px 20px;
  border-radius: 24px;
  color: var(--main-color);
  cursor: pointer;
  text-align: center;
}

@media(max-width: 780px) {
  .o-dinamic-quote{
    max-width: 95%;
  }

  .o-dinamic-quote__steps{
    flex-direction: column;
    align-items: flex-start;
  }

  .o-dinamic-quote__info{
    display: none;
  }

  .o-dinamic-quote__slide-container{
    display: flex;
    flex-direction: column;
  }

  .o-dinamic-quote__btn{
    top: -7rem;
  }

  .o-dinamic-quote__distribution{
    height: 552px;
  }

  .o-dinamic-quote__cardspay-content{
    flex-direction: column;
  }
}