.a-btn-top {
  background: var(--main-color);
  display: inline-block;
  padding: 1rem 1.4rem;
  border-radius: 5rem;
  position: fixed;
  bottom: 3%;
  z-index: 1;
  right: 9rem;
}

.a-btn-top__arrow-top{
  width: 1.8rem;
}

@media(max-width: 780px){
  .a-btn-top {
    display: none;
  }
}