.o-model-appartment{
  margin: 5rem 0px;
}

.o-model-appartment__content-slider{
  overflow: hidden;
  padding: 1rem 2rem;
}

.o-model-appartment__content {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 3rem;
  max-width: 75%;
  margin: auto;
}

.o-model-appartment .swiper-button-next--swiper-button-next{
  left: 5rem;
  transform: rotate(180deg);
}

.o-model-appartment .swiper-button-prev--swiper-button-next{
  left: inherit;
  right: 5rem;
}

@media(max-width:780px){
  .o-model-appartment__content{
    grid-template-columns: 100%;
    max-width: 90%;
  }

  .o-model-appartment__content-slider{
    padding: 0rem;
  }

  .o-model-appartment .swiper-button-prev--swiper-button-next{
    right: -1rem;
  }

  .o-model-appartment .swiper-button-next--swiper-button-next{
    left: -1rem;
  }
}