.m-info-project {
  display: flex;
  align-items: center;
  gap: 2rem;
}


.m-info-project__texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.m-info-project__texts-title {
  font-size: 25px;
  color: var(--main-color);
}

.m-info-project__texts-subtitle {
  font-size: 1.8rem;
}

@media(max-width: 768px){
  .m-info-project__texts-subtitle {
    display: none;
  }

  .m-info-project__texts .a-btn{
    display: none;
  }

  
  .m-info-project__img{
    width: 100%;
  }

  .m-info-project__img-icon {
    width: 100%;
  }

  .m-info-project__texts-title{
    font-size: 1.8rem;
  }
}