.a-social{
    text-decoration: none;
}

.a-social__icon{
    width: 50px;
    height: 24px;
    object-fit: contain;
    transition: all 0.35s ease-in-out;
}

.a-social__icon:hover{
    height: 28px;
    transition: all 0.35s ease-in-out;
}