.o-banner-qr__content {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  background-color: var(--main-color);
}

.o-banner-qr__img {
  position: relative;
}

.o-banner-qr__qr {
  position: absolute;
  width: 13rem;
  height: 13rem;
  bottom: 0px;
}

.o-banner-qr__info {
  max-width: 80%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.o-banner-qr__btns-content {
  display: flex;
  gap: 3rem;
}

.o-banner-qr__info-title {
  font-size: 2.8rem;
  color: var(--secondary-color);
}

.o-banner-qr__info-text {
  color: white;
  max-width: 74%;
  font-size: 1.8rem;
}

.o-banner-qr__btns-content .a-btn-info__content{
  background-color: white;
}

.o-banner-qr__btns-content .a-btn-info__icon{
  width: 2rem;
    height: 2rem;
}
