.m-card-model{
  display: grid;
  grid-template-columns: 40% 56%;
  gap: 2rem;
  box-shadow: var(--shadow-boxes);
  border-radius: var(--border-radius--regular);
  overflow: hidden;
}

.m-card-model:first-child {
  grid-row-start: 1;
  grid-row-end: -3;
  grid-template-columns: 100%;
}

.m-card-model__body {
  padding: 2rem;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
}

.m-card-model:first-child .m-card-model__body{
  padding-left: 2rem; 
}

.m-card-model:first-child .m-card-model__body-text{
  width: 70%;
}


.m-card-model__body-city {
  font-size: 2rem;
  color: var(--main-color);
}

.m-card-model__body-title {
  color: var(--main-color);
} 

.m-card-model .a-img {
  height: 18rem;
}

.m-card-model  .a-img__img {
  object-fit: cover;
  object-position: center;
}

.m-card-model__body-text{
  width: 90%;
}

.m-card-model__body-data {
  font-size: 1.2rem;
}

.m-card-model__icon {
  width: 1.5rem;
}

@media(max-width:780px){
  .m-card-model{
    grid-template-columns: 100%;
  }

  .m-card-model__body{
    padding-left: 2rem
  }
}