.m-card-model{
  display: grid;
  grid-template-columns: 40% 56%;
  gap: 2rem;
  box-shadow: var(--shadow-boxes);
  border-radius: var(--border-radius--regular);
  overflow: hidden;
}

.m-card-model:first-child {
  grid-row-start: 1;
  grid-row-end: -3;
  grid-template-columns: 100%;
  margin-bottom: 1rem;
  gap: 0px;
}

.m-card-model__body {
  padding: 2rem;
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
}

.m-card-model:first-child .m-card-model__body{
  padding-left: 2rem; 
}

.m-card-model:first-child .m-card-model__body-text{
  width: 70%;
}

.m-card-model__body-city {
  font-size: 2rem;
  color: var(--main-color);
}

.m-card-model__body-title {
  color: var(--main-color);
} 

.m-card-model .a-img {
  height: 18rem;
}

.m-card-model  .a-img__img {
  object-fit: cover;
  object-position: center;
}

.m-card-model__body-text{
  width: 90%;
}

.m-card-model__body-data {
  font-size: var(--size-medium);
  text-decoration: none;
  color: var(--black-color);
}

.m-card-model__icon {
  width: 1.5rem;
}

/** horizontal */
.m-card-model.m-card-model--horizontal{
  grid-template-columns: 48% 47%;
}

.m-card-model--horizontal .m-card-model__body {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

/** horizontal */
.m-card-model.m-card-model--horizontal{
  grid-template-columns: 42% 54%;
}

.m-card-model--horizontal .m-card-model__body {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.m-card-model--horizontal .m-card-model__body-city {
  font-size: var(--size-medium-large);
}

.m-card-model.m-card-model--horizontal .m-card-model__body-text {
  width: 100%;
}

.m-card-model.m-card-model--horizontal  .m-card-model__body-data {
  font-size: var(--size-medium);
}

@media(max-width:780px){
  .m-card-model{
    grid-template-columns: 100%;
  }

  .m-card-model__body{
    padding-left: 2rem
  }

  .m-card-model.m-card-model--horizontal{
    grid-template-columns: 100%;
  }
}