@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

:root {
  --font-titles: "Poppins", sans-serif;
  --font-text: "Poppins", sans-serif;

  --main-color: #14387f;
  --secondary-color: #ffc32b;
  --tertiary-color: #ffc32b;
  --quaternary-color: #37393f;
  --quinary-color: #f9b32a;
  --senary-color: #eaeaea;
  --septenary-color: #a1aebf;
  --gray-color: #525151;
  --white-color: #ffffff;
  --black-color: #000000;
  --color-parragraph: #525151;

  --tone-color-main: #f1f7ff;
  --tone-color-secondary: #ffede3;
  --tone-color-tertiary: #f7f7f7;

  --clear-color-one: #fef6e2;
  --clear-color-two: #f2f7fe;
  --clear-color-three: #f8f7ff;
  --clear-color-four: #f8f8f8;
  --clear-color-five: #f9e4bc;
  --clear-color-six: #deffee;

  --size-xlarge: 4.5rem;
  --size-mlarge: 3.8rem;
  --size-large: 3.2rem;
  --size-medium-large: 2.4rem;
  --size-medium: 1.6rem;
  --size-medium-regular: 1.2rem;
  --size-regular: 1rem;

  --border-radius--regular: 3.5rem;

  /* overwrite */
  --swiper-theme-color: #6c46eb !important;

  /* shadow-boxes */
  --shadow-boxes: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.main {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-titles);
  text-wrap: balance;
  font-weight: 650;
  position: relative;
}

p,
h5,
ul,
li,
span,
a,
pre,
summary {
  font-family: var(--font-text);
  text-wrap: pretty;
  position: relative;
}

p {
  font-size: var(--size-medium);
}

input,
textarea,
button {
  font-family: var(--font-text) !important;
}

pre {
  max-width: 100%;
  text-wrap: pretty;
}

.g-content-regular {
  max-width: 70%;
  margin: 0 auto;
}

.g-content-middle {
  max-width: 42%;
  margin: 0 auto;
}

.g-content-5X {
  max-width: 54%;
  margin: 0 auto;
}

/* .g-background--home{
    background-image: url(../assets/img/bg-effects.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

span.swiper-pagination-bullet {
  width: 1.4rem;
  height: 1.4rem;
}

.swiper-wrapper {
  align-items: stretch !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--secondary-color) !important;
}

.scroll-block {
  overflow: hidden;
}

.img-banner-transversal {
  width: 65%;
  min-height: 500px;
  background-position: center;
  background-size: cover;
}
.titulo-banner-transversal {
  width: 50%;
}
.titulo-banner-transversal {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-banner-transversal h1 {
  color: #14387f;
  font-size: 50px;
  font-weight: bold;
  position: relative;
}
.titulo-banner-transversal h1:before {
  content: "";
  position: absolute;
  width: 290px;
  height: 2px;
  background: #ffc32b;
  bottom: 0;
  left: 0;
}
.content-banner-transversal {
  display: flex;
}

@media (min-width: 1440px) {
  .g-content-regular,
  .g-content-5X,
  .o-stadistics,
  .g-content-middle {
    max-width: 1250px;
  }
}

@media (max-width: 768px) {
  :root {
    --size-xlarge: 4rem;
    --size-large: 2.8rem;
    --size-medium-large: 2.288rem;
    --size-medium: 2rem;
    --size-medium-regular: 1.75rem;
    --size-regular: 1.625rem;
  }

  .g-content-regular,
  .g-content-5X {
    max-width: 95%;
  }

  .g-content-middle {
    max-width: 95%;
  }
}

.container {
  width: 82%;
  margin: 0 auto;
}

section#main-single {
  padding-top: 12%;
}
.content-main-single {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 4%;
}
ul.post-categories {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  gap: 20px;
}
ul.post-categories li a {
  text-decoration: none;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
  font-size: 15px;
  padding: 6px 20px;
  transition: 0.5s;
}
ul.post-categories li a:hover {
  background: #ffc32b;
  color: #fff;
}
.control-form-sidebar h4 {
  color: #14387f;
  font-size: 30px;
  padding-bottom: 10%;
}
.a-btn-info:nth-child(1) {
  display: none;
}
.content-redes-sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 15%;
}
.a-btn-info__content {
  -webkit-box-shadow: 0px 4px 9px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 9px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 9px -5px rgba(0, 0, 0, 0.75) !important;
  padding: 25px 15px !important;
  border-radius: 50px !important;
  width: 85% !important;
}
.a-btn-info__link {
  font-size: 25px !important;
  text-decoration: none;
  font-weight: 500;
  color: #14387f !important;
}

.content-img-single {
  width: 100%;
  min-height: 450px;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  margin-bottom: 4%;
}
main#content-single {
  width: 70%;
}
aside#sidebar-single {
  width: 37%;
  border-left: 1px solid #c4c4c4;
  padding-left: 3%;
}
ul.control-categoria {
  list-style: none;
}
ul.control-categoria li:nth-child(1) {
  display: inline-block;
}
ul.control-categoria li {
  color: #fff;
  background: #14387f;
  border: none;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 12px;
  display: none;
}
main#content-single h3 {
  color: #222222;
  font-size: 30px;
  line-height: 27px;
  padding-top: 3%;
}
.content-calendar-date-single {
  display: flex;
}
.content-calendar-date-single img {
  max-width: 15px;
}
.content-calendar-date-single span {
  position: relative;
  color: #777777;
  display: block;
  padding: 18px 0;
  font-size: 14px;
  padding-left: 1%;
}
.content-img-destacada {
  min-height: 370px;
  background-position: center;
  background-size: cover;
  width: 90%;
  margin: 0 auto;
  margin-top: 8%;
}
section#ultimas-noticias {
  padding: 4% 0;
}

a.contenedor-entrada-blog {
  display: flex;
  text-decoration: none;
}
.content-img-post-blog {
  width: 40%;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  min-height: 265px;
}
.content-text-blog {
  width: 60%;
  background: #fff;
  border-radius: 0 30px 30px 0;
  box-shadow: 0px 4px 20px -15px rgba(0, 0, 0, 0.75);
  padding: 4% 5%;
}
ul.control-categoria {
  list-style: none;
}
ul.control-categoria li {
  color: #fff;
  background: #14387f;
  border: none;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 12px;
  display: none;
}
ul.control-categoria li:nth-child(1) {
  display: inline-block;
}
.content-text-blog h3 {
  color: #222222;
  font-size: 25px;
  line-height: 27px;
  padding-top: 3%;
}
.content-text-blog span {
  position: relative;
  color: #777777;
  display: block;
  padding: 15px 0;
  font-size: 12px;
  padding-left: 3%;
}
.content-calendar-date {
  display: flex;
}
.content-calendar-date img {
  max-width: 11px;
}
.content-text-blog p {
  color: #555555;
  font-size: 15px;
}

.content-posts-second {
  width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 3%;
  flex-flow: wrap;
  padding-top: 5%;
  margin-left: 5%;
  row-gap: 50px;
}
.contenedor-entrada-blog.second {
  width: 30%;
}
.content-img-post-blog.second {
  width: 100%;
  z-index: 1;
}
.content-text-blog.second {
  width: 100%;
  border-radius: 0 0 30px 30px;
  padding: 5% 8%;
  padding-top: 13%;
  margin-top: -27px;
}
a.contenedor-entrada-blog.second {
  flex-direction: column;
}
section#related-posts {
  padding: 5% 0;
}
@media (max-width: 1550px) {
  .a-btn-info__link {
    font-size: 20px !important;
  }
  .a-btn-info__content {
    padding: 17px 15px !important;
    border-radius: 50px !important;
    width: 75% !important;
  }
  .content-posts-second {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 3%;
    flex-flow: wrap;
    padding-top: 5%;
    margin-left: 0%;
    row-gap: 50px;
  }
}

@media (max-width: 875px) {
  ul.post-categories li a {
    font-size: 11px;
    padding: 6px 20px;
    transition: 0.5s;
  }
  .a-btn-info__content {
    padding: 17px 15px !important;
    border-radius: 50px !important;
    width: 100% !important;
  }
  .a-btn-info__link {
    font-size: 15px !important;
  }
  .contenedor-entrada-blog.second {
    width: 100%;
  }
  .content-text-blog.second {
    padding: 5% 8%;
    padding-top: 8%;
    margin-top: -28px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
  .content-form {
    width: 100%;
    border-left: none;
    padding-left: 3%;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 15%;
    padding-top: 5%;
  }

  .content-text-blog.second {
    padding: 5% 8%;
    padding-top: 18%;
    margin-top: -28px;
  }
  .content-main-single {
    flex-direction: column;
    width: 100%;
  }
  main#content-single {
    width: 100%;
  }
  .content-img-single {
    width: 100%;
    min-height: 250px;
  }
  main#content-single h3 {
    color: #222222;
    font-size: 25px;
    line-height: 26px;
    padding-top: 5%;
  }
  main#content-single p {
    font-size: 16px;
  }
  aside#sidebar-single {
    width: 100%;
    border-left: none;
    padding-left: 0%;
    padding-top: 5%;
  }
  aside#sidebar-single .content-form {
    padding-left: 0%;
  }
  aside#sidebar-single .control-form-sidebar h4 {
    font-size: 26px;
  }
  .content-img-destacada {
    min-height: 200px;
    width: 100%;
    margin-top: 0%;
  }
  section#related-posts {
    padding: 15% 0;
  }
  section#related-posts .content-posts-second {
    padding-top: 15%;
  }
}
@media (max-width: 1440px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 500px) {
  .titulo-banner-transversal {
    width: 70% !important;
    display: flex !important;
  }
  .img-banner-transversal {
    min-height: 140px !important;
    width: 100% !important;
  }
  .titulo-banner-transversal h1 {
    font-size: 17px !important;
  }
  .titulo-banner-transversal h1:before {
    width: 88px !important;
    height: 2px !important;
    bottom: 0 !important;
    left: 0 !important;
  }
}
