.titulo-banner-transversal h1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffc32b;
  bottom: 0;
  left: 0;
}
section#content-form {
  padding-top: 5%;
}
button.forminator-button.forminator-button-submit {
  background: #ffaa0a !important;
  border-radius: 30px !important;
  padding: 11px 18px !important;
}

.forminator-ui#forminator-module-1259.forminator-design--default
  .forminator-button-upload {
  background-color: #14387f !important;
  color: #ffffff;
}
.forminator-ui#forminator-module-1259.forminator-design--default
  .forminator-label {
  color: #777771;
  font-family: "Poppins" !important;
}
div#forminator-field-consent-1_66c659a65d6fb__description p {
  font-family: "Poppins" !important;
}
.forminator-ui#forminator-module-1259.forminator-design--default
  .forminator-label {
  color: #777771;
  font-family: "Poppins" !important;
}
.forminator-guttenberg input {
  border-radius: 7px !important;
}
section#content-form {
  width: 55%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .titulo-banner-transversal h1 {
    font-size: 13px !important;
  }
  section#content-form {
    width: 100%;
    margin: 0 auto;
  }
  .titulo-banner-transversal h1:before {
    width: 100% !important;
  }
}
