.m-nav-footer {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: column;
    text-align: left;
}

.m-nav-footer a{
    color: var(--white-color);
    text-decoration: none;
    font-size: var(--size-medium);
}

@media(max-width: 768px){
    .m-nav-footer {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}