.content-destacados-form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 4%;
}
.content-destacados {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

section#destacados-form {
  padding-top: 5%;
}

.pagination {
  text-align: center;
  padding: 4% 0;
  display: flex;
  justify-content: center;
  gap: 2%;
}
a.prev.page-numbers,
a.next.page-numbers {
  background: #14387f;
  color: #fff;
  padding: 13px 35px;
  font-size: 16px;
  text-decoration: none;
}
a.page-numbers {
  font-size: 16px;
  color: #666666;
  text-decoration: none;
  border: 1px solid;
  padding: 12px 21px;
  border-radius: 4px;
}
span.page-numbers.current {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border: 1px solid;
  padding: 12px 21px;
  border-radius: 4px;
  background: #14387f;
}
@media (max-width: 1550px) {
  .content-destacados-form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 4%;
  }
  .a-btn-info__link {
    font-size: 20px !important;
  }
  .a-btn-info__content {
    padding: 17px 15px !important;
    border-radius: 50px !important;
    width: 75% !important;
  }
  .content-posts-second {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 3%;
    flex-flow: wrap;
    padding-top: 5%;
    margin-left: 0%;
    row-gap: 50px;
  }
  .content-text-blog h3 {
    font-size: 20px;
    line-height: 23px;
    padding-top: 3%;
  }
}
@media (max-width: 875px) {
  .content-text-blog h3 {
    font-size: 15px;
    line-height: 23px;
    padding-top: 3%;
  }
  .content-text-blog p {
    color: #555555;
    font-size: 12px;
  }
  .content-img-post-blog {
    min-height: 235px;
  }
  .control-form-sidebar h4 {
    font-size: 20px;
    padding-bottom: 10%;
  }
  ul.post-categories li a {
    font-size: 11px;
    padding: 6px 20px;
    transition: 0.5s;
  }
  .a-btn-info__content {
    padding: 17px 15px !important;
    border-radius: 50px !important;
    width: 100% !important;
  }
  .a-btn-info__link {
    font-size: 15px !important;
  }
  .contenedor-entrada-blog.second {
    width: 100%;
  }
  .content-text-blog.second {
    padding: 5% 8%;
    padding-top: 8%;
    margin-top: -28px;
  }
}
@media (max-width: 500px) {
  .content-destacados-form {
    flex-direction: column-reverse;
  }

  a.contenedor-entrada-blog {
    flex-direction: column;
  }
  .content-img-post-blog {
    min-height: 235px;
    width: 100%;
    z-index: 1;
  }
  .content-destacados {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .content-text-blog {
    width: 100%;
    padding: 8% 5%;
    padding-top: 17%;
    margin-top: -25px;
  }
  section#blog-secondsection {
    padding: 10% 0;
  }
  .content-text-blog.second {
    padding: 5% 8%;
    padding-top: 18%;
    margin-top: -28px;
  }
  .pagination {
    padding-top: 16%;
  }
}
