.m-card-project {
  display: grid;
  grid-template-columns: 53% 41%;
  gap: 4%;
  box-shadow: var(--shadow-boxes);
  border-radius: var(--border-radius--regular);
  overflow: hidden;
}

.m-card-project__header{
  overflow: hidden;
  position: relative;
}

.m-card-project__img{
  border-radius: var(--border-radius--regular);
}

.m-card-project__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.m-card-project__body {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  justify-content: space-between;
  padding: 3rem 3rem 3rem 0px;
}

.m-card-project__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.m-card-project__logo-img {
  height: 100%;
  width: 12rem;
}

.m-card-project__title-text {
  font-size: var(--size-medium-large);
  color: var(--main-color);
}

.m-card-project__title-subtitle {
  font-size: 1.6rem;
  color: var(--main-color);;
}

.m-card-project__description-main {
  color: var(--main-color);
  font-weight: 450;
}

.m-card-project__descripton {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.swiper-pagination--project {
  bottom: 3rem !important;
}

.swiper-pagination--project .swiper-pagination-bullet {
  background: white;
  opacity: 0.8;
}

@media(max-width:780px){
  .m-card-project{
    display: block;
  }

  .m-card-project__body{
    padding: 1rem 1rem 3rem 1rem;
  }

  .m-card-project__descripton{
    max-width: 100%;
  }
}