.m-whatsapp {
    position: fixed;
    right: 15px;
    bottom: 25%;
    background-color: #00a884;
    padding: 12px;
    border-radius: 50px;
    line-height: 0px;
    text-decoration: none;
    color: white;
    border: solid 6px white;
    transition: 0.35s;
    z-index: 3;
}

.m-whatsapp:hover{
    border: solid 10px white;
    background-color: #1a936f;
}

.m-whatsapp__icon-whatspp.dashicons.dashicons-whatsapp {
    font-size: 40px;
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.5s;
}

.m-whatsapp:hover .dashicons-whatsapp{
    font-size: 45px;
}

@media(max-width: 768px) {
    .m-whatsapp {
        bottom: 5%;
    }
}