.content-second-section-conocenos {
  display: flex;
  gap: 5%;
}
.video-second-section-conocenos {
  width: 50%;
}
.text-second-section-conocenos {
  width: 50%;
  padding-top: 1%;
}
.text-second-section-conocenos h3 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 5%;
  color: #14387f;
}
.text-second-section-conocenos h3 span {
  color: #14387f;
}
section#second-section-conocenos iframe {
  width: 100%;
  height: 419px;
  border-radius: 35px;
}
.content-redes-descripcion {
  display: flex;
  padding-top: 5%;
  gap: 2%;
}
section#second-section-conocenos .a-btn-info__content {
  -webkit-box-shadow: 0px 4px 9px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 9px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 9px -5px rgba(0, 0, 0, 0.75);
  padding: 15px 15px;
}
section#second-section-conocenos a.a-btn-info__link {
  font-size: 14px;
  color: #14387f;
}
section#second-section-conocenos {
  padding: 6% 0;
}
.content-conoce-nuestro-equipo_swiper {
  padding-top: 5%;
}

.img-nuestro-equipo {
  width: 100%;
  min-height: 350px;
  border-radius: 35px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.img-nuestro-equipo span {
  color: #14387f;
  font-size: 22px;
  font-weight: 400;
  background: #ffc32b;
  border-radius: 0 0 20px 20px;
  padding: 10px 25px;
  position: absolute;
  top: 0;
  left: 37%;
}

.text-nuestro-equipo h4 {
  color: #14387f;
  font-size: 23px;
}
.text-nuestro-equipo {
  display: flex;
  justify-content: center;
  padding: 7% 5%;
  text-align: center;
  gap: 7%;
}
.content-izq-nuestro-equipo {
  width: 50%;
  position: relative;
}
.content-izq-nuestro-equipo:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100px;
  background: #888888;
  right: -10px;
  top: -14px;
}
.content-dere-nuestro-equipo {
  width: 50%;
}
.text-nuestro-equipo p {
  font-size: 20px;
}
.nuestro-equipo__slide {
  background: var(--white-color);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius--regular);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  height: auto;
}

.nuestro-equipo__slide.swiper-slide-active {
  opacity: 1;
}

.swiper-pagination--testimonials {
  text-align: center;
  bottom: -17px !important;
  position: relative;
}
section#conoce-nuestro-equipo {
  position: relative;
}
.content-conoce-nuestro-equipo_swiper {
  overflow: hidden;
  padding-bottom: 25px;
}
.a-arrows-slide {
  top: 106%;
}
.swiper-button-prev--paginations.a-arrows-slide {
  left: 46%;
  transform: rotate(180deg);
  top: 107%;
}
.swiper-button-next--paginations.a-arrows-slide {
  left: 52%;
  top: 107.2%;
}
section#nuestra-historia iframe {
  width: 100%;
  height: 610px;
  border-radius: 40px;
}
@media (max-width: 1550px) {
  .text-nuestro-equipo h4 {
    font-size: 18px;
  }
  .text-nuestro-equipo p {
    font-size: 16px;
  }
  section#second-section-conocenos iframe {
    height: 334px;
  }
  section#nuestra-historia iframe {
    height: 492px;
  }
  .video-espacios-cupula iframe {
    height: 169px;
  }
}

@media (max-width: 1366px) {
  .img-nuestro-equipo {
    min-height: 300px;
  }
  .img-nuestro-equipo span {
    top: 0;
    left: 30%;
  }
  section#second-section-conocenos iframe {
    height: 308px;
  }
  .video-espacios-cupula iframe {
    height: 160px;
  }
}

@media (max-width: 768px) {
  .nuestro-equipo__slide {
    height: 100%;
  }

  .content-conoce-nuestro-equipo_swiper {
    padding: 1rem;
    padding-bottom: 4rem;
  }
}
section#nuestra-historia {
  padding-top: 11%;
}
.content-video-nuestra-historia {
  text-align: center;
  margin-top: 7%;
  margin: 0 auto;
  margin-top: 5%;
  width: 70%;
}

section#espacios-cupula .a-titles-title {
  color: #fff;
}
section#espacios-cupula {
  padding: 6% 0;
  background: #14387f;
  padding-top: 23%;
  margin-top: -240px;
}
.content-espacios-cupula {
  display: flex;
  flex-flow: wrap;
  column-gap: 10px;
  row-gap: 18px;
  padding-top: 6%;
  justify-content: center;
}
.item-espacios-cupula {
  width: 48%;
  display: flex;
}
.video-espacios-cupula {
  width: 50%;
}

.video-espacios-cupula iframe {
  width: 100%;
  height: 215px;
  border-radius: 30px 0 0 30px;
}
.text-espacios-cupula {
  width: 50%;
  background: #fff;
  border-radius: 30px;
  margin-left: -25px;
  margin-bottom: 7px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  text-align: center;
}
.text-espacios-cupula h5 {
  color: #14387f;
  font-size: 15px;
}
.text-espacios-cupula p {
  font-size: 14px;
  padding-top: 10px;
}
section#nuestros-aliados {
  padding: 7% 0;
}
.content-nuestros-aliados {
  padding-top: 5%;
}
ul.item-logo {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 15px;
}
ul.item-logo li {
  height: 65px;
  display: flex;
  align-items: center;
  border: 1px solid #a1aebf;
  border-radius: 13px;
  padding: 0px 21px;
  width: 16%;
  justify-content: center;
}
ul.item-logo li img {
  height: 100% !important;
  width: 120px;
  object-fit: contain;
}

/*------------------------TIMELINE--------------------------*/
/*------------------------TIMELINE--------------------------*/
.timeline-container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-top: 5%;
}

.timeline-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#prevBtn {
  transform: rotate(180deg);
}
button {
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
}

.years {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  padding: 10px 0;
  width: 65%;
  justify-content: center;
  gap: 12%;
  position: relative;
  padding-bottom: 4%;
}
.years:before {
  content: "";
  position: absolute;
  width: 85%;
  height: 2px;
  background: #14387f;
  top: 60px;
  left: 7%;
  right: 0;
}

.year {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #14387f;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}

.year:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #14387f;
  top: 45px;
  left: 40%;
  right: 0;
  border-radius: 50%;
}
.year.active:before {
  border: 4px solid #ffc32b;
  top: 40px;
}

.timeline-content .content {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.timeline-content .content.active {
  display: block;
  opacity: 1;
}
.content {
  width: 77%;
  margin: 0 auto;
}
.content-main-timeline {
  display: flex;
}
.text-trayectoria {
  width: 53%;
  box-shadow: 0px 4px 20px -15px rgba(0, 0, 0, 0.75);
  padding: 15px 15px;
  border-radius: 0 30px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 0 4%;
  padding-left: 7%;
}
.img-trayectoria {
  width: 50%;
  background-position: center;
  background-size: cover;
  min-height: 370px;
  border-radius: 40px;
  margin-right: -34px;
  z-index: 1;
}
section#nuestra-trayectoria {
  padding-bottom: 6%;
}
.text-trayectoria h3 {
  color: #ffc32b;
  font-size: 30px;
  line-height: 25px;
}
.text-trayectoria h4 {
  color: #14387f;
  font-size: 25px;
  padding-bottom: 8%;
}
.text-trayectoria p {
  color: #14387f;
  font-size: 18px;
}
.text-trayectoria ul li {
  color: #14387f;
  font-size: 17px;
  text-align: left;
}
.text-trayectoria ul {
  padding-top: 1%;
  padding-left: 6%;
}

section#preguntas-frecuentes {
  background: #f5f5f5;
  padding: 6% 0;
}
.accordion {
  max-width: 60%;
  margin: 0 auto;
}

.accordion-item {
  margin-bottom: 20px;
  box-shadow: 0px 4px 20px -15px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}
.content-preguntas-frecuentes {
  padding-top: 5%;
}
.accordion-header {
  border: none;
  padding: 20px 35px;
  padding-right: 75px;
  width: 100%;
  text-align: left;
  color: #37393f;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  position: relative;
}
.accordion-header:before {
  content: url(https://cupula.movemospruebas.com/wp-content/uploads/2024/08/rowacordeon.svg);
  position: absolute;
  width: 30px;
  right: 30px;
  top: 40%;
}
button.accordion-header span {
  font-weight: 400;
  display: block;
}
button.accordion-header.active:before {
  transform: rotate(270deg);
}

.accordion-header:hover {
  background-color: #fff;
  border-radius: 20px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-header.active + .accordion-content {
  max-height: 500px !important;
  padding: 41px !important;
  padding-top: 0 !important;
}
button.accordion-header.active span {
  display: none;
}

@media (max-width: 1550px) {
  .img-nuestro-equipo span {
    left: 33%;
  }
}

@media (max-width: 1440px) {
  .container {
    width: 85%;
  }
  .text-nuestro-equipo p {
    font-size: 10px;
  }
  .content-video-nuestra-historia {
    width: 75%;
  }
  .text-trayectoria h3 {
    font-size: 28px;
    line-height: 25px;
    text-align: left;
  }
  .text-nuestro-equipo h4 {
    color: #14387f;
    font-size: 13px;
  }
}
@media (max-width: 1280px) {
  .img-banner-transversal {
    width: 65%;
    min-height: 450px;
  }
  .years:before {
    width: 89%;
    height: 2px;
    top: 60px;
    left: 5%;
    right: 0;
  }
}
@media (max-width: 800px) {
  .img-banner-transversal {
    min-height: 400px;
  }
  .content-second-section-conocenos {
    flex-direction: column-reverse;
  }
  .video-second-section-conocenos {
    width: 100%;
  }
  .text-second-section-conocenos {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 10%;
  }
  .img-nuestro-equipo {
    width: 100%;
    min-height: 200px;
    border-radius: 35px;
  }
  .content-video-nuestra-historia {
    width: 95%;
  }
  .item-espacios-cupula {
    width: 80%;
    display: flex;
  }
  section#espacios-cupula {
    padding: 6% 0;
    padding-top: 35%;
    margin-top: -240px;
  }
  ul.item-logo li {
    height: 65px;
    border-radius: 13px;
    padding: 0px 21px;
    width: 30%;
  }
  .years {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    width: 65%;
    scroll-behavior: smooth;
    justify-content: center;
    gap: 0%;
    padding-bottom: 4%;
  }
  .content-main-timeline {
    flex-direction: column;
  }
  .years:before {
    width: 71%;
    height: 2px;
    top: 60px;
    left: 14%;
    right: 0;
  }
  .img-trayectoria {
    width: 100%;
    min-height: 270px;
    border-radius: 40px;
    margin-right: 0px;
    z-index: 1;
  }
  .text-trayectoria {
    width: 100%;
    padding: 15px 15px;
    border-radius: 0px 0px 30px 30px;
    padding: 5% 4%;
    padding-left: 7%;
    margin-top: -37px;
    padding-top: 12%;
  }
  .accordion {
    max-width: 95%;
    margin: 0 auto;
    padding-top: 5%;
  }
  .text-nuestro-equipo h4 {
    color: #14387f;
    font-size: 11px;
  }
}

@media (max-width: 500px) {
  .text-second-section-conocenos h3 {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 5%;
  }
  .text-second-section-conocenos p {
    font-size: 14px;
  }
  section#second-section-conocenos iframe {
    width: 100%;
    height: 300px;
    border-radius: 35px;
  }
  .content-conoce-nuestro-equipo_swiper {
    padding-top: 11%;
  }
  .img-nuestro-equipo span {
    top: 0;
    left: 17%;
  }
  .text-nuestro-equipo p {
    font-size: 8px;
  }
  .content-izq-nuestro-equipo:before {
    width: 1px;
    height: 50px;
    background: #888888;
    right: -10px;
    top: -3px;
  }
  .content-video-nuestra-historia {
    padding-top: 10%;
  }
  section#nuestra-historia iframe {
    width: 100%;
    height: 300px;
    border-radius: 30px;
  }
  section#espacios-cupula {
    padding: 6% 0;
    padding-top: 72%;
    margin-top: -240px;
  }
  .content-espacios-cupula {
    display: flex;
    flex-flow: wrap;
    column-gap: 10px;
    row-gap: 18px;
    padding-top: 15%;
    justify-content: center;
  }
  .item-espacios-cupula {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .video-espacios-cupula {
    width: 100%;
  }
  .text-espacios-cupula {
    width: 100%;
    border-radius: 30px;
    margin-left: 0;
    margin-bottom: 7px;
    margin-top: -22px;
    z-index: 1;
    padding: 10% 5%;
    padding: 10% 5%;
  }
  .video-espacios-cupula iframe {
    width: 100%;
    height: 238px;
    border-radius: 30px 30px 10px 10px;
  }
  .content-nuestros-aliados {
    padding-top: 14%;
    padding-bottom: 15%;
  }
  ul.item-logo li {
    height: 65px;
    border-radius: 13px;
    padding: 0px 21px;
    width: 45%;
  }
  .years {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    width: 100%;
    scroll-behavior: smooth;
    justify-content: center;
    gap: 0%;
    padding-bottom: 15%;
  }
  .container {
    width: 90%;
  }
  .timeline-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    flex-flow: wrap;
    position: relative;
  }
  #prevBtn {
    transform: rotate(180deg);
    position: absolute;
    bottom: -35px;
    left: 0;
  }
  .years:before {
    width: 74%;
    height: 2px;
    top: 60px;
    left: 14%;
    right: 0;
  }
  button#nextBtn {
    bottom: -35px;
    right: 0;
    position: absolute;
  }
  .year {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 12px;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
  .text-trayectoria {
    padding-top: 20%;
  }
  .img-trayectoria {
    width: 100%;
    min-height: 200px;
    border-radius: 40px;
  }
  .text-trayectoria h3 {
    font-size: 18px;
    line-height: 25px;
    text-align: left;
  }
  .text-trayectoria h4 {
    color: #14387f;
    font-size: 18px;
    padding-bottom: 8%;
  }
  .text-trayectoria p {
    color: #14387f;
    font-size: 13px;
  }
  .text-trayectoria ul li {
    color: #14387f;
    font-size: 13px;
    text-align: left;
  }
  .accordion-header {
    border: none;
    padding: 20px 35px;
    padding-right: 75px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    font-size: 14px;
  }
  button.accordion-header span {
    font-weight: 400;
    display: block;
    font-size: 10px;
  }
  .accordion-content p {
    font-size: 10px;
  }
  .accordion-header:hover {
    background-color: #f5f5f5;
    border-radius: 20px;
  }
  .accordion-header:before {
    width: 20px;
    right: 30px;
    top: 40%;
  }
  section#preguntas-frecuentes {
    padding: 10% 0;
  }
  .swiper-button-next--paginations.a-arrows-slide {
    left: 52%;
    top: 98.5%;
  }
  .swiper-button-prev--paginations.a-arrows-slide {
    left: 40%;
    transform: rotate(180deg);
    top: 98%;
  }
  section#nuestra-historia {
    padding-top: 20%;
  }
}
