.entrenate-banner {
    height: 80vh;
    max-height: 450px;
    background-color: var(--clear-color-one);
}

.entrenate-banner__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    max-width: 60%;
    margin: auto;
}

.entrenate-banner__title {
    color: var(--main-color);
    font-size: var(--size-large);
    text-align: center;
    line-height: var(--size-large);
}

.entrenate-banner__circle {
    position: absolute;
    left: 0px;
    width: 450px;
    height: 500px;
    object-fit: contain;
}

.misiones {
    position: relative;
    top: -100px;
}

.tranning-model {
    background-color: var(--main-color);
    position: relative;
    padding-top: 20px;
}

.tranning-model::after {
    content: url(../../assets/img/multiple-circles.svg);
    position: absolute;
    transform: scale(0.7);
    left: -5%;
    top: -50%;
}

.preguntas__content{
    margin-bottom: 100px;
}

@media(max-width:780px){
    .entrenate-banner__content{
        max-width:100%;
    }

    .tranning-model::after{
        display: none;
    }

    .entrenate-banner__circle{
        display: none;
    }
}