.o-bannerfull-slider .swiper-slide {
  min-height: 70vh;
  position: relative;
}

.o-bannerfull-slider .a-arrows-slide{
  top:40%;
}

.swiper-button-prev--bannerfull {
  left: 11rem;
  transform: rotate(180deg);  
}

.swiper-button-next--bannerfull {
  right: 11rem;
}

.swiper-pagination--bannerfull{
  display: none;
}

@media(max-width: 780px){

  .o-bannerfull-slider .swiper-slide{
    height: 80vh;
  }

  .swiper-button-next--bannerfull{
    right: 1rem;
  }

  .swiper-button-prev--bannerfull{
    display: none;
  }

  .o-bannerfull-slider .a-arrows-slide{
    display: none;
  }

  .swiper-pagination--bannerfull{
    display: block;
  }

  .swiper-pagination--bannerfull {
    text-align: center;
    z-index: 6;
    position: absolute;
    bottom: 2.7rem !important;
  }

}
