.a-tags-program-tags__content {
  display: flex;
  gap: 10px;
}

.a-tags-iprogram__tag {
  text-align: left;
  display: table;
  background: var(--tone-color-main);
  border: solid 1px var(--main-color);
  color: var(--main-color);
  padding: 5px 13px;
  border-radius: 50px;
  font-size: 11px;
}

.a-tags-iprogram--secondary {
  background-color: #f9b32a5e;
  border: solid 1px var(--quinary-color);
}

@media(max-width: 768px){
    .a-tags-program-tags__content{
        flex-wrap: wrap;
    }

    .m-card-iprogram__tag{
      font-size: 10px;
    }

    .m-card-iprogram__tag{
        padding: 5px 5px;
    }
}