.m-hamburger__mobile-content {
  display: block;
  width: 40px;
  height: 40px;
}

.m-hamburger__mobile {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  gap: 0.8rem;
  cursor: pointer;
}

.m-hamburger__mobile-line {
  height: 0.4rem;
  width: 100%;
  background-color: var(--main-color);
  position: relative;
  transition: 0.35s;
}

.o-header--js-active .m-hamburger__mobile-line{
  background-color: white;
}

.m-hamburger__mobile-line--center {
  margin: 0px auto;
  opacity: 1;
}

.has-show .m-hamburger__mobile-line{
  transform: rotate(45deg);
  top: 11px;
}

.has-show .m-hamburger__mobile-line--center{
  opacity: 0;
  transform: translate(10px, 0px);
  top: 0px;
}

.has-show .m-hamburger__mobile-line--bottom{
  transform: rotate(-45deg);
  top: -11px;
}

@media(max-width:780px){

  .o-header-aside-nav .m-hamburger__mobile{
    position: absolute;
    top: 1.4rem;
    left: 1.9rem;
    width: 40px;
    height: 40px;
  }

  .m-hamburger__mobile-line{
      background-color: white;
  }

  .m-main-nav__social{
    margin-top: 3rem;
  }

}