.m-banner-columns__content {
  display: grid !important;
  grid-template-columns: 45% 60%;
  gap: 4rem;
  align-items: center;
  position: relative;
}

.m-banner-columns__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 21px;
  width: 68%;
  margin: 0px 4px 0px auto;
  position: relative;
}

.m-banner-columns__title {
  font-size: var(--size-large);
  color: var(--main-color);
  letter-spacing: -1px;
  line-height: var(--size-large);
  margin-bottom: 1.6rem;
}

.m-banner-columns__description {
  font-size: var(--size-medium);
  color: var(--gray-color);
}

.m-banner-columns__image {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: left;
}

.m-banner-columns__img{
  position: relative;
  height: 100%;
  width: 100%;
}

.m-banner-columns--absolute{
  position: absolute;
  bottom: 2rem;
  left: 7rem;
}

.m-banner-columns__content-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.m-banner-columns__image--video{
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  object-position: left;
}

.swiper-pagination__main-banner.swiper-pagination-bullets {
  top: 43%;
  left: 10%;
  width: 12px;
  position: absolute;
  z-index: 1;
}

@media(max-width: 768px) {

  .m-banner-columns__content {
    display: flex !important;
    flex-direction: column-reverse;
    gap: 2rem;
    padding-bottom: 3.8rem;
  }

  .m-banner-columns__text{
    width: 95%;
    margin: auto;
    align-items: center;
  }

  .m-banner-columns__image{
    height: 100%;
  }

  .m-banner-columns__img {
      grid-row-start: 1;
  }

  .swiper-pagination__main-banner.swiper-pagination-bullets{
    display: none;
  }

  .m-banner-columns--absolute{
    left: 1rem;
  }

  .m-banner-columns__title{
    margin-bottom: 0px;
  }

  .m-banner-columns__content-info{
    display: none;
  }

  .m-banner-columns__image--video{
    min-height: auto; 
    height: auto;
  }
}